<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612400392438-4a7vv0j941k0c6k3bdanrfonfs347jle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612400392438-4a7vv0j941k0c6k3bdanrfonfs347jle</string>
	<key>API_KEY</key>
	<string>AIzaSyBx6szAjC-JkOAQiZo75KBNqmjfwYgeLrU</string>
	<key>GCM_SENDER_ID</key>
	<string>612400392438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KBTU.Grocr</string>
	<key>PROJECT_ID</key>
	<string>flashchat3-6a512</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat3-6a512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612400392438:ios:2a9fe9b9e205039786e4d7</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat3-6a512-default-rtdb.firebaseio.com</string>
</dict>
</plist>